<!DOCTYPE html>
<html lang="ru" ng-app="prorustApp">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="KeyWords" content="русский RUST сервер, русскоязычный RUST сервер, сервер раст, русскоязычный раст" />
    <meta name="description" content="Руcский лицензионный премиум-сервер RUST Experimental (STEAM). Играй в RUST на PROrust бесплатно.">
    <meta name="author" content="PRORust">
    <link rel="icon" href="favicon.png">

    <title>PROrust | Русский сервер RUST Experimental (STEAM)</title>

    <!-- Angular JS -->
    <script src="lib/angular/1.3.15/angular.js"></script>
    <script src="lib/angular/1.3.15/angular-ui-router.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.13.1.min.js"></script>

    <!-- ocLazyLoad -->
    <!-- // <script src="lib/ocLazyLoad/ocLazyLoad.js"></script> -->
    
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="lib/bootstrap/navbar-fixed-top.css" rel="stylesheet">
    <link href="lib/bootstrap/sticky-footer-navbar.css" rel="stylesheet">

    <!-- angular-xeditable -->
    <link href="lib/angular-xeditable/0.1.8/xeditable.css" rel="stylesheet">
    <script src="lib/angular-xeditable/0.1.8/xeditable.min.js"></script>

    

  </head>

  <body>
    <a id="top"></a>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderCtrl">
      <div class="container">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="/">PROrust</a> -->


          <!-- <img src="img/prorust300.png" alt="PROrust | Русскоязычный сервер RUST"> -->

          <a class="navbar-brand" href="#">
            <img src="img/prorust300.png" alt="PROrust | Русскоязычный сервер RUST">
          </a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{ active1: isActive('/')}" ng-click="gotoTop()"><a href="/">Главная</a></li>
            <li ng-class="{ active1: isActive('/server')}" ng-click="gotoTop()"><a href="/server">Сервер</a></li>
            <li ng-class="{ active1: isActive('/store')}" ng-click="gotoTop()"><a href="/store">Магазин</a></li>
            <li ng-class="{ active1: isActive('/ts')}" ng-click="gotoTop()"><a href="/ts">TeamSpeak</a></li>
            <li><a href="http://map.prorust.ru">Карта</a></li>
            <li ng-class="{ active1: isActive('/stat')}" ng-click="gotoTop()"><a href="/stat" ng-show="statMenuShow">Статистика</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active2: isActive('/profile')}" ng-show="!steamButtonShow">
              <a href="/profile" ng-click="gotoTop()" data-toggle="tooltip" data-placement="bottom" data-original-title="Пополнить баланс" style="max-height: 50px;">
                <div style="margin-top: -14px;">
                  {{user.login}} ({{user.balance}} руб.)
                  <img class="steam-pic" width="42" height="42" border="0" ng-src="{{user.avatar}}">
                </div>
              </a>
            </li>
            <li ng-show="!steamButtonShow"><a ng-click="logout()" ng-click="gotoTop()">Выход</a></li>
            <a id="signin" ng-show="steamButtonShow" href="" ng-click='login()' class="btn-steam">Войти через STEAM</a>
          </ul>

        </div><!--/.nav-collapse -->

      </div>
    </nav>

    <div class="container main-container" ng-show="viewA = true">

      <div ui-view ></div>

    </div> <!-- /container -->
    <div ui-view="viewB"></div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="lib/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="lib/ng-lazy-image/lazy-image.min.js"></script>

    <script src="lib/highcharts-ng/highstock.src.js"></script>    
    <script src="lib/highcharts-ng/highcharts-ng.min.js"></script>
    <!-- // <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <!-- Angular Slick -->
    <!--<script src="lib/angular-slick/slick.js"></script>
    <script src="lib/slick/slick.min.js"></script>    
    <link rel="stylesheet" href="lib/slick/slick.css">
    <link rel="stylesheet" href="lib/slick/style-theme.css">-->

    <!--Style CSS-->
    <link rel="stylesheet" href="css/style.css">    

    <footer class="footer">
      <div class="container">
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->

        <!--<script type="text/javascript">(function(w,doc) {
        if (!w.__utlWdgt ) {
            w.__utlWdgt = true;
            var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
        }})(window,document);
        </script>-->
        <div class="row footer-place">
          <!-- <div class="col-md-4">
            <div data-background-alpha="0.0" data-buttons-color="#ffffff" data-counter-background-color="#ffffff" data-share-counter-size="12" data-top-button="false" data-share-counter-type="disable" data-share-style="12" data-mode="share" data-like-text-enable="false" data-mobile-view="true" data-icon-color="#ffffff" data-orientation="horizontal" data-text-color="#000000" data-share-shape="round-rectangle" data-sn-ids="fb.vk.tw.ok.gp." data-share-size="40" data-background-color="#ffffff" data-preview-mobile="false" data-mobile-sn-ids="fb.vk.tw.wh.ok.gp." data-pid="1383399" data-counter-background-alpha="1.0" data-following-enable="false" data-exclude-show-more="false" data-selection-enable="true" class="uptolike-buttons uptolike" ></div>
          </div> -->
          <div class="col-md-4">
            <div>Skype: <a href="skype:prorust-ru?chat" style="color: grey;">prorust-ru</a></div>
            <div>E-mail: info@prorust.ru</div>
          </div>
          <div class="col-md-4">
          </div>
        <div>

      </div><!-- end container -->
    </footer>

  </body>



<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter30719913 = new Ya.Metrika({ id:30719913, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/30719913" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

<!-- Modal modalError-->
<div class="modal fade bs-example-modal-sm" id="modalError" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="alert alert-danger" style="text-align: center;" role="alert">{{modal.msg}}
          <br>
          <button type="button" class="btn btn-default btn-buy-cancel" data-dismiss="modal">Ок</button>
      </div>
      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
  </div>
</div>

<!-- Modal modalSuccess-->
<div class="modal fade bs-example-modal-sm" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="alert alert-success" style="text-align: center;" role="alert">{{modal.msg}}
        <br>
        <button type="button" class="btn btn-default btn-buy-cancel" data-dismiss="modal">Ок</button>
      </div>      
  </div>
</div>

<!-- Modal modalLoading-->
<div class="modal fade bs-example-modal-sm" id="modalLoading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>

<!-- Modal modalProgress-->
<div class="modal fade bs-example-modal-sm" id="modalProgress" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="progress-place">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
        </div> 
      </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    $('a').tooltip();
});
</script>

</html>
